<a href="https://colab.research.google.com/github/YG-0/DS_Rcodes/blob/main/EDA_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Label Encoder

In [2]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [4]:
data =pd.read_csv("iris.csv",index_col=0)

In [5]:
data.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

In [6]:
#Changes does not effect the "data" dataframe
data1=data.copy()

In [7]:
labelencoder = LabelEncoder()
data1.iloc[:, -1] = labelencoder.fit_transform(data1.iloc[:,-1])

In [8]:
data1

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  Species
1             5.1          3.5           1.4          0.2        0
2             4.9          3.0           1.4          0.2        0
3             4.7          3.2           1.3          0.2        0
4             4.6          3.1           1.5          0.2        0
5             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
146           6.7          3.0           5.2          2.3        2
147           6.3          2.5           5.0          1.9        2
148           6.5          3.0           5.2          2.0        2
149           6.2          3.4           5.4          2.3        2
150           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

### One Hot Encoder

#### Using sklearn

In [9]:
from sklearn.preprocessing import OneHotEncoder

In [10]:
data2=pd.read_csv("iris.csv",index_col=0)

In [11]:
data2

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
1             5.1          3.5           1.4          0.2     setosa
2             4.9          3.0           1.4          0.2     setosa
3             4.7          3.2           1.3          0.2     setosa
4             4.6          3.1           1.5          0.2     setosa
5             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
146           6.7          3.0           5.2          2.3  virginica
147           6.3          2.5           5.0          1.9  virginica
148           6.5          3.0           5.2          2.0  virginica
149           6.2          3.4           5.4          2.3  virginica
150           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [12]:
# creating instance of one-hot-encoder
enc = OneHotEncoder(handle_unknown='ignore')

In [13]:
# passing bridge-types-cat column (label encoded values of bridge_types)
enc_df = pd.DataFrame(enc.fit_transform(data2[['Species']]).toarray())

In [14]:
enc_df

       0    1    2
0    1.0  0.0  0.0
1    1.0  0.0  0.0
2    1.0  0.0  0.0
3    1.0  0.0  0.0
4    1.0  0.0  0.0
..   ...  ...  ...
145  0.0  0.0  1.0
146  0.0  0.0  1.0
147  0.0  0.0  1.0
148  0.0  0.0  1.0
149  0.0  0.0  1.0

[150 rows x 3 columns]

In [15]:
# merge with main df 
data_final = data2.iloc[:,0:4].join(enc_df)
data_final

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    0    1    2
1             5.1          3.5           1.4          0.2  1.0  0.0  0.0
2             4.9          3.0           1.4          0.2  1.0  0.0  0.0
3             4.7          3.2           1.3          0.2  1.0  0.0  0.0
4             4.6          3.1           1.5          0.2  1.0  0.0  0.0
5             5.0          3.6           1.4          0.2  1.0  0.0  0.0
..            ...          ...           ...          ...  ...  ...  ...
146           6.7          3.0           5.2          2.3  0.0  0.0  1.0
147           6.3          2.5           5.0          1.9  0.0  0.0  1.0
148           6.5          3.0           5.2          2.0  0.0  0.0  1.0
149           6.2          3.4           5.4          2.3  0.0  0.0  1.0
150           5.9          3.0           5.1          1.8  NaN  NaN  NaN

[150 rows x 7 columns]

#### Using Pandas

In [16]:
import pandas as pd

In [17]:
data3 =pd.read_csv("iris.csv",index_col=0)

In [18]:
data_encoded=pd.get_dummies(data3)

In [19]:
data_encoded

     Sepal.Length  Sepal.Width  ...  Species_versicolor  Species_virginica
1             5.1          3.5  ...                   0                  0
2             4.9          3.0  ...                   0                  0
3             4.7          3.2  ...                   0                  0
4             4.6          3.1  ...                   0                  0
5             5.0          3.6  ...                   0                  0
..            ...          ...  ...                 ...                ...
146           6.7          3.0  ...                   0                  1
147           6.3          2.5  ...                   0                  1
148           6.5          3.0  ...                   0                  1
149           6.2          3.4  ...                   0                  1
150           5.9          3.0  ...                   0                  1

[150 rows x 7 columns]

#### IsolationForest

In [20]:
from sklearn.ensemble import IsolationForest

In [21]:
data =pd.read_csv("iris.csv",index_col=0)
data_encoded=pd.get_dummies(data)

In [22]:
# training the model
clf = IsolationForest(random_state=10,contamination=.01)
clf.fit(data_encoded)

IsolationForest(behaviour='deprecated', bootstrap=False, contamination=0.01,
                max_features=1.0, max_samples='auto', n_estimators=100,
                n_jobs=None, random_state=10, verbose=0, warm_start=False)

In [23]:
# predictions
y_pred_outliers = clf.predict(data_encoded)

In [24]:
#-1 for outliers and 1 for inliers.
y_pred_outliers

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1])

In [25]:
data_encoded

     Sepal.Length  Sepal.Width  ...  Species_versicolor  Species_virginica
1             5.1          3.5  ...                   0                  0
2             4.9          3.0  ...                   0                  0
3             4.7          3.2  ...                   0                  0
4             4.6          3.1  ...                   0                  0
5             5.0          3.6  ...                   0                  0
..            ...          ...  ...                 ...                ...
146           6.7          3.0  ...                   0                  1
147           6.3          2.5  ...                   0                  1
148           6.5          3.0  ...                   0                  1
149           6.2          3.4  ...                   0                  1
150           5.9          3.0  ...                   0                  1

[150 rows x 7 columns]

In [26]:
## Let us add a new data point which is outlier
data_encoded.loc[150]=[20,40,30,50,1,0,0]

In [27]:
data_encoded

     Sepal.Length  Sepal.Width  ...  Species_versicolor  Species_virginica
1             5.1          3.5  ...                   0                  0
2             4.9          3.0  ...                   0                  0
3             4.7          3.2  ...                   0                  0
4             4.6          3.1  ...                   0                  0
5             5.0          3.6  ...                   0                  0
..            ...          ...  ...                 ...                ...
146           6.7          3.0  ...                   0                  1
147           6.3          2.5  ...                   0                  1
148           6.5          3.0  ...                   0                  1
149           6.2          3.4  ...                   0                  1
150          20.0         40.0  ...                   0                  0

[150 rows x 7 columns]

In [28]:
# training the model
clf = IsolationForest(random_state=10,contamination=.01)
clf.fit(data_encoded)
# predictions
y_pred_outliers = clf.predict(data_encoded)
y_pred_outliers

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1])

In [29]:
data_encoded['scores']=clf.decision_function(data_encoded)

In [30]:
data_encoded['anomaly']=clf.predict(data_encoded.iloc[:,0:7])

In [31]:
data_encoded

     Sepal.Length  Sepal.Width  ...    scores  anomaly
1             5.1          3.5  ...  0.202073        1
2             4.9          3.0  ...  0.185411        1
3             4.7          3.2  ...  0.174012        1
4             4.6          3.1  ...  0.182873        1
5             5.0          3.6  ...  0.199432        1
..            ...          ...  ...       ...      ...
146           6.7          3.0  ...  0.164313        1
147           6.3          2.5  ...  0.133436        1
148           6.5          3.0  ...  0.179224        1
149           6.2          3.4  ...  0.125229        1
150          20.0         40.0  ... -0.287374       -1

[150 rows x 9 columns]

In [32]:
#Print the outlier data points
data_encoded[data_encoded['anomaly']==-1]

     Sepal.Length  Sepal.Width  ...    scores  anomaly
107           4.9          2.5  ... -0.009111       -1
150          20.0         40.0  ... -0.287374       -1

[2 rows x 9 columns]

### PPS score

In [ ]:
#install the package
!pip install ppscore

In [ ]:
import ppscore as pps

In [ ]:
#pps.score(df, "feature_column", "target_column")  syntax
pps.score(data, "Sepal.Length", "Petal.Length")

In [ ]:
#calculate the whole PPS matrix
pps.matrix(data)